@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

body {
  font-family: "Syne Mono", monospace;
}

#navbar {
  display: flex;
  background-color: #227c9d;
  justify-content: space-evenly;
  height: 3rem;
  align-items: center;
}

.headLink {
  color: #fef9ef;
  text-decoration: none;
}

#logo {
  color: #fef9ef;
  padding-right: 25rem;
  padding-left: none;
}

#FormContainers {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-between;
  width: 20rem;
  height: 15rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border: 1px solid transparent;
  align-items: center;
  box-shadow: 2px 2px 2px black;
}

#HeadLog {
  display: flex;
  font-size: 45px;
}

#Notice {
  text-align: center;
  color: red;
  padding-top: 3px;
}

#Welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 25%;
  left: 18%;
  margin-top: -50px;
  margin-left: -50px;
}

#Greetings {
  font-size: 5rem;
}

#User {
  font-size: xx-large;
  color: #fe6d73;
  text-shadow: 2px 2px 2px #227c9d;
}
