@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

#navbar {
  display: flex;
  background-color: #227c9d;
  justify-content: space-evenly;
  height: 3rem;
  align-items: center;
}

.headLink {
  color: #fef9ef;
  text-decoration: none;
  font-family: "Syne Mono", monospace;
}

#logo {
  color: #fef9ef;
  font-family: "Syne Mono", monospace;
  padding-right: 25rem;
  padding-left: none;
}

#LogIn {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 20rem;
  height: 8rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  justify-content: space-evenly;
  align-items: center;
}
